
@model EFAGT.Models.ViewModele
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Artenay</h1>
    
</div>

<asp:Content id="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
        <table>
            <tr>

                <th>
                    Numero de ticket
                </th>

            </tr>

            @foreach (var item in Model.visualisationTickets) {//boucle permettant d'afficher le contenu de la table
            <tr>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().idTicket)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().emplacementMaterielTicket)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().typeMaterielTicket)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().descriptionIncident)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().dateCreationIncident)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().dateClotureIncident)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().nomCellule)
                </td>
                <td>
                    @Html.EditorFor(modele => modele.visualisationTickets.FirstOrDefault().numeroSerieMAteriel)
                </td>                
            </tr>
            }
        </table>
    </div>

</asp:Content>